.overlay-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar */
}
