{% from 'bootstrap4/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html>



<head>
    {% block head %}

        <title>{% block title %}{% endblock title %} </title>
        <link rel="icon" href="{{ url_for('static', filename='ico/heart.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/blue.mini.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>


    {% endblock head %}
</head>





{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {{ render_nav_item('biology.index', '主页') }}
                    {{ render_nav_item('analysis.analysis', '分析流程代码') }} 
                    {{ render_nav_item('complex_junction.complex_junction', '复杂接头识别') }} 
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}

{% block content %}
{% endblock content %}


</body>
</html>
