{% extends 'base.html' %}

{% from 'bootstrap4/form.html' import render_form %}

{% block head %}
<script>
    function toggleImage() {
        var img = document.getElementById('instructionImage');
        img.style.display = (img.style.display === 'none' ? 'block' : 'none');
    }

    document.addEventListener('keydown', function(event) {
        if (event.ctrlKey && event.key === 'y') {
            event.preventDefault(); // 阻止默认行为，如关闭窗口
            document.addEventListener('keydown', function(e) {
                if (e.key === 'y') {
                    document.getElementById('loginPrompt').style.display = 'block';
                }
            }, {once: true});
        }
    });
</script>
{% endblock %}

{% block content %}
    {% include 'biology/folder_selection.html' %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-lg-20') }}
        </div>
        <!-- 添加右对齐的按钮，并加入一个新按钮用于跳转 -->
        <div class="row mt-3 justify-content-end">
            <div class="col-auto">
                <button onclick="toggleImage()" class="btn btn-outline-secondary btn-sm">使用说明</button>
                <a href="https://github.com/cai2024/flask2024/releases" class="btn btn-outline-secondary btn-sm" target="_blank">查看发布</a>
                <a href="{{ url_for('static', filename='images/wangzc.jpg') }}" class="btn btn-outline-secondary btn-sm">查看图片</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <img id="instructionImage" src="{{ url_for('static', filename='images/instruction.jpg') }}" style="display:none;" alt="Instruction Image"/>
            <div id="loginPrompt" style="display:none;">
                <form action="{{ url_for('hidden.login') }}" method="post">
                    <input type="hidden" name="task_id" value="{{ task_id }}">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    <button type="submit">登录</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

