{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}



{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.style.css') }}" type="text/css">
{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h1>基础设置</h1>
        <h4>请输入原始测序数据所在文件夹位置</h4>
        <div class="overlay-container">
            <input type="text" id="folderInput" class="form-control" placeholder="">
            <div id="suggestions" class="overlay"></div>
        </div>
        <h6>原始数据命名要求：单端: .fq.gz结尾 双端: _1.fq.gz, _2.fq.gz</h6>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <body data-task-id="{{ task_id }}">
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>




    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-lg-20') }}
        </div>
        <!-- 添加右对齐的按钮，并加入一个新按钮用于跳转 -->
        <div class="row mt-3 justify-content-end">
            <div class="col-auto">
                <button onclick="toggleImage()" class="btn btn-outline-secondary btn-sm">使用说明</button>
                <a href="https://github.com/cai2024/flask2024/releases" class="btn btn-outline-secondary btn-sm" target="_blank">查看发布</a>
                <a href="{{ url_for('static', filename='images/wangzc.jpg') }}" class="btn btn-outline-secondary btn-sm">查看图片</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <img id="instructionImage" src="{{ url_for('static', filename='images/instruction.jpg') }}" style="display:none;" alt="Instruction Image"/>
            <div id="loginPrompt" style="display:none;">
                <form action="{{ url_for('hidden.login') }}" method="post">
                    <input type="hidden" name="task_id" value="{{ task_id }}">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    <button type="submit">登录</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

